.divider {
  font-size: 30px;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.divider::before,
.divider::after {
  flex: 1;
  content: "";
  padding: 1px;
  background-color: white;
  margin: 20px;
}
